<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Menù</title>

    <!--Google Font-->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Go to Content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Menù</h1>
      </div>
      <a id="menu" class="header__menu" href="#">☰</a>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item">
          <a href="https://github.com/fikribakhtiar">About Us</a>
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Ristorante Moderno</h1>
        <p class="hero__tagline">Where every flavor tells a story.</p>
      </div>
    </div>
    <main id="maincontent">
      <selection class="content">
        <div class="restaurant-list">
          <h1 class="restaurant__label">Restaurant List</h1>
          <div class="posts">
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/41"
                alt="Bring Your Phone Cafe"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">4.6</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Bring Your Phone Cafe</a>
                </h1>
                <h2>Medan</h2>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                  commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                  sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                  vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                  mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                  semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                  porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                  ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                  viverra nulla ut metus varius laoreet.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/07"
                alt="Run The Gun"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">4.6</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Run The Gun</a>
                </h1>
                <h2>Bali</h2>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                  Aenean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                  Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
                  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
                  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
                  Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
                  Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
                  Phasellus viverra nulla ut metus varius laoreet.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/29"
                alt="Pangsit Express"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">4.8</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Pangsit Express</a>
                </h1>
                <h2>Ternate</h2>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                  Aenean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                  Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
                  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
                  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
                  Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
                  Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
                  Phasellus viverra nulla ut metus varius laoreet.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/38"
                alt="Ducky Duck"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">4.7</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Ducky Duck</a>
                </h1>
                <h2>Malang</h2>
                <p class="restaurant-item__description">
                  But I must explain to you how all this mistaken idea of denouncing pleasure and praising 
                  pain was born and I will give you a complete account of the system, 
                  and expound the actual teachings of the great explorer of the truth, 
                  the master-builder of human happiness. No one rejects, dislikes, or avoids 
                  pleasure itself, because it is pleasure, but because those who do not know 
                  how to pursue pleasure rationally encounter consequences that are extremely painful. 
                  Nor again is there anyone who loves or pursues or desires to obtain pain of itself, 
                  because it is pain, but because occasionally circumstances occur in which toil 
                  and pain can procure him some great pleasure.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/40"
                alt="Kafein"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">3.8</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Kafein</a>
                </h1>
                <h2>Bali</h2>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                  Aenean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                  Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
                  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
                  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
                  Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
                  Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
                  Phasellus viverra nulla ut metus varius laoreet.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/08"
                alt="Makan Mudah"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">4.6</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Makan Mudah</a>
                </h1>
                <h2>Bali</h2>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                  Aenean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                  Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
                  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
                  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
                  Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
                  Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
                  Phasellus viverra nulla ut metus varius laoreet.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/32"
                alt="Saya Suka"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">3.6</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Saya Suka</a>
                </h1>
                <h2>Bali</h2>
                <p class="restaurant-item__description">
                  But I must explain to you how all this mistaken idea of denouncing pleasure and praising 
                  pain was born and I will give you a complete account of the system, 
                  and expound the actual teachings of the great explorer of the truth, 
                  the master-builder of human happiness. No one rejects, dislikes, or avoids 
                  pleasure itself, because it is pleasure, but because those who do not know 
                  how to pursue pleasure rationally encounter consequences that are extremely painful. 
                  Nor again is there anyone who loves or pursues or desires to obtain pain of itself, 
                  because it is pain, but because occasionally circumstances occur in which toil 
                  and pain can procure him some great pleasure.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/45"
                alt="Gigitan Cepat"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">4.0</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Gigitan Cepat</a>
                </h1>
                <h2>Bali</h2>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                  Aenean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                  Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
                  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
                  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
                  Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
                  Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
                  Phasellus viverra nulla ut metus varius laoreet.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/40"
                alt="Fairy Cafe"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">3.9</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Fairy Cafe</a>
                </h1>
                <h2>Malang</h2>
                <p class="restaurant-item__description">
                  But I must explain to you how all this mistaken idea of denouncing pleasure and praising 
                  pain was born and I will give you a complete account of the system, 
                  and expound the actual teachings of the great explorer of the truth, 
                  the master-builder of human happiness. No one rejects, dislikes, or avoids 
                  pleasure itself, because it is pleasure, but because those who do not know 
                  how to pursue pleasure rationally encounter consequences that are extremely painful. 
                  Nor again is there anyone who loves or pursues or desires to obtain pain of itself, 
                  because it is pain, but because occasionally circumstances occur in which toil 
                  and pain can procure him some great pleasure.
                </p>
              </div>
            </article>
          </div>
        </div>
      </selection>
    </main>
    <footer>
      <div> 
        <a>Copyright &copy; 2023 - Menù</a>

        </div>
    </footer>
  </body>
</html>
