<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#FFFBF5"/>

    <link rel="apple-touch-icon" href="./images/icons/icon-192x192.png"/>
    <link rel="manifest" href="./app.webmanifest"/>
    <link rel="icon" href="./cutlery.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Restaurant Bersama</title>
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Go to Content</a>
    <nav class="navbar">
      <a href="index.html" class="logo">Restaurant Bersama</a>
      <a id="hamburger" href="#">☰</a>
      <div class="nav-list">
        <ul>
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item">
            <a
              href="https://github.com/fikribakhtiar"
              >About</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <header>
      <div class="banner">
        <div class="banner-text">
          <h1 tabindex="0" class="banner-title">
            Tempat favorit Anda untuk pecinta makanan
          </h1>
        </div>
      </div>
    </header>
    <main id="maincontent">
      <section class="content">
        <div class="headline">
          <h1 tabindex="0" class="headline-title">Restaurant Bersama</h1>
        </div>
        <div class="content-post" id="restaurant-content"></div>
      </section>
    </main>
    <footer>
      <h3>&copy; 2023 Restaurant Milik Bersama</h3>
    </footer>
  </body>
</html>
